<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="quartz" type="System.Configuration.NameValueFileSectionHandler" />
	</configSections>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.7.0" newVersion="3.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Hosting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<quartz>
		<add key="quartz.plugin.quartzmin.type" value="Quartzmin.SelfHost.QuartzminPlugin, Quartzmin.SelfHost" />
		<add key="quartz.plugin.quartzmin.url" value="http://localhost:5000" />
		
		<add key="quartz.scheduler.instanceName" value="RemoteClient" />
		<add key="quartz.scheduler.instanceId" value="AUTO" />
		<add key="quartz.threadPool.type" value="Quartz.Simpl.DedicatedThreadPool, Quartz" />
		<add key="quartz.threadPool.threadCount" value="5" />
		<add key="quartz.threadPool.threadPriority" value="2" />
		<add key="quartz.jobStore.misfireThreshold" value="60000" />
		<add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz" />
		<add key="quartz.scheduler.proxy" value="true" />
		<add key="quartz.scheduler.proxy.address" value="tcp://localhost:555/QuartzScheduler" />

		<add key="quartz.plugin.recentHistory.type" value="Quartz.Plugins.RecentHistory.ExecutionHistoryPlugin, Quartz.Plugins.RecentHistory" />
		<add key="quartz.plugin.recentHistory.storeType" value="Quartz.Plugins.RecentHistory.Impl.InProcExecutionHistoryStore, Quartz.Plugins.RecentHistory" />
	</quartz>
</configuration>